body {
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    color: white;
}
h6 {
    color: white;
}
p {
    color: white;
}
a {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}
ul {
    color: white;
}

