body {
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: #000;
}

h2 {
    color: #000;
}
h3 {
    color: #000;
}
h4 {
    color: #000;
}
h5 {
    color: #000;
}
h6 {
    color: #000;
}

